<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Create Task Board</title>
  </head>
  <body>
    <div class="container-fluid">
      <header>
        <!-- navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Task Management System</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              {% if user %}
              <a class="nav-item nav-link" href="/createtaskboard">Create TaskBoard</a>
              <a class="nav-item nav-link" href="/viewtaskboard">View TaskBoards</a>
              {% endif %}
            </div>
          </div>
        </nav>
      </header>
      <main>
        {% if user %}
        <!-- card with form and instructions to create a new taskboard -->
        <div class="card">
          <h3 class="card-header">New TaskBoard</h3>
          {% if error %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> Taskboard with same name already exists.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">Create a New TaskBoard</h5>
            <p class="card-text">To create a taskboard board add a taskboard name and click on create</p>
            <form method="post" action="/createtaskboard" class="form">
            <fieldset>
              <label>TaskBoard Name:</label>
              <div class="input-group mb-3">
                <input type="text" name="name" class="form-control" placeholder="TaskBoard Name" aria-label="TaskBoard Name" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <input type="submit" value="Create" name="button" class="btn btn-outline-secondary"/>
                </div>
              </div>
            </fieldset>
          </form>
          <a href="/"><button type="button" name="button" class="btn btn-outline-dark btn-lg mt-2">Cancel</button></a>
          </div>
        </div>
        {% endif %}
      </main>
    </div>
    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
